{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}

{% block main %}
<form method="post">
    <button type="submit" name="checkout" class="btn btn-primary">Check out</button>
</form>
<h5></h5>
<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total Price</th>
            <th>Modifiers</th>
        </tr>
    </thead>
    <tbody>
        {% for product in cart %}
        <tr>
            <th>{{product.product}}</th>
            <th>{{product.quanity}}</th>
            <th>{{product.price | usd}}</th>
            <th>{{(product.price * product.quanity) | usd}}</th>
            <th>{{product.modifiers}}</th>
            <th>
                <form method="post" title="Remove from cart" action="/removefromcart">
                    <input type="hidden" name="product" value="{{ product }}">
                    <input type="hidden" name="productid" value="{{ product.id }}">
                    <button type="submit" class="btn btn-danger pt-1 pl-3 pr-3">
                        <span style="font-size: 1em;">&times;</span>
                    </button>
                </form>                             
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}